@import url("reset.css");

* {
  color: #696969;
}

header h1{
  color: #66CDAA;
}

li .link{
  color: #483D8B;
}

.introduction > .introduction__text {
  color: #B22222;
}

.introduction__text span {
  color: #6495ED;
}

.introduction__text.text{
  color: #2F4F4F;
}   

h2.introduction__title{
  color: #66CDAA;
}

.introduction__title ~ p {
  color: #DEB887;
}

.about__content h3{
  color: #66CDAA;
}

.about__content > p {
  color: #483D8B;
}

ul.menu * {
  color: rgb(206, 99, 99);
}

[class*="some"] {
  color: blue;
}

#mozart-effect {
  color: blueviolet;
}

.first,
.second,
.third {
  color: rgb(42, 165, 112);
}



