@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* ------------------------- */
[class*=__container] {
  max-width: 79.375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.homework {
  padding-block: 3.75rem;
  background-color: rgb(171, 239, 241);
}
.tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem;
  row-gap: 1.875rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1.25rem;
  overflow: hidden;
}
.tasks__block > * {
  margin-bottom: 1.875rem;
}
.tasks__block > *:last-child {
  margin-bottom: 0;
}
.tasks__title {
  font-weight: 700;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(47%, rgb(111, 161, 249)), to(rgb(110, 250, 255)));
  background-image: linear-gradient(0deg, rgb(111, 161, 249) 47%, rgb(110, 250, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media (min-width: 86.25em) {
  .tasks__title {
    font-size: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 86.25em) {
  @supports (font-size: clamp( 1.75rem , 1.6367924528rem  +  0.5660377358vw , 2.125rem )) {
    .tasks__title {
      font-size: clamp( 1.75rem , 1.6367924528rem  +  0.5660377358vw , 2.125rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.6367924528rem  +  0.5660377358vw , 2.125rem )) {
    .tasks__title {
      font-size: calc(1.75rem + 0.375 * (100vw - 20rem) / 66.25);
    }
  }
}
@media (max-width: 20em) {
  .tasks__title {
    font-size: 1.75rem;
  }
}
.tasks__title span {
  color: #d376fb;
}
.tasks__item {
  background-color: rgb(195, 171, 235);
  border-radius: 0.9375rem;
  padding: 0.9375rem;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: animate 2s forwards;
          animation: animate 2s forwards;
  opacity: 0;
  visibility: hidden;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
.tasks__item:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.tasks__item:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.tasks__item:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.tasks__item:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.tasks__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.tasks__answer {
  cursor: pointer;
}
.tasks__answer summary {
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  font-weight: 600;
  color: rgb(36, 228, 200);
}
.tasks__answer summary:not(:last-child) {
  margin-bottom: 0.625rem;
}
.tasks__answer summary::marker {
  color: #52b2c3;
}
.tasks__answer span {
  color: #d376fb;
  font-size: 1.25rem;
  line-height: 125%;
}