/* Підключення шрифтів */
@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

/* Підключення шрифтів */


/* Обнулення стилів */
@import url("reset.css");



/* Практика  властивостей border, outline, border-radius, box-shadow, display:none, visibility:hidden, opacity*/
/* block-1 */

body {
  font-family: "Proxima Nova", sans-serif;
  color: rgb(43, 41, 41);
  background: rgb(221, 216, 242);
}


.practice {
  padding: 50px 0px;
}
[class*="__container"] {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  /* background: rgb(63,147,251); */
  background: linear-gradient(341deg, rgba(63,147,251,1) 0%, rgba(251,70,252,1) 79%);
  padding: 30px 0px;
  font-size: 0;
}
.header__logo {
  vertical-align: top;
  width: 30%;
}
.header__logo img {
  outline: 3px dotted rgb(80, 80, 232);
  outline-offset: 10px;
  border-radius: 20px;
}
.header__list {
  display: inline-block;
  /* padding: 30px 0px; */
  width: 70%;
  text-align: right;
}

.list__item {
  margin: 0px 20px 10px 0px;
  display: inline-block;
}
.list__link {
  color: beige;
  padding: 5px;
  font-size: 18px;
  font-family: "Roboto",sans-serif;
  font-style: oblique;
  letter-spacing: 2px;
  line-height: 177.777778%; /* 32/18 */
  outline: 3px solid rgb(49, 223, 194);
  border-radius: 10px;
}
/*||||||||||||||||||||||*/
.practice__title {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(230, 108, 108);
  font-family: "Proxima Nova",sans-serif;
  text-shadow: 1px -2px 1px rgba(52, 48, 48,0.7);
  font-weight: 600;
  border-bottom-width: 4px;
  border-bottom-style: double;
  border-bottom-color: rgb(116, 187, 120);
  margin-bottom: 20px;
  border-top: 0.5px solid rgb(255, 38, 0);
  padding: 3px;
}
.practice__block-1 {
  font-size: 0;
  margin-bottom: 30px;
}
.practice__items {
  text-align: center;
  margin: 0px -12px;
  /* border-bottom: 2px solid; */
}
.practice__item {
  display: inline-block;
  max-width: 300px;
  padding: 0px 12px;
  margin-bottom: 24px;
}

.practice__item p {
  font-size: 18px;
  color: rgb(137, 143, 149);
  line-height: 133.333333%; /* 24/18 */
  letter-spacing: 1.5px;
  border: 5px dotted rgb(241, 129, 129);
  padding: 5px;
  text-transform: capitalize;
  overflow: hidden;
  /* min-height: 300px; */
  max-height: 200px;
  /* white-space: nowrap; */
  /* border-block: 2px solid black;
  border-inline: 2px solid grey; */
}

.practice__item p:hover {
  border-color: transparent;
  outline: 10px solid rgb(220, 239, 54);
  border-radius: 20%;
  box-shadow: inset 2px 2px 9px grey;
  font-size: 35px;
  overflow: auto;
  /* letter-spacing: 10px; */
}
.practice__description {
  padding: 10px;
  border-top: 5px solid rgb(220, 195, 69);
  border-left: 6px dashed rgb(89, 89, 242);
  border-bottom: 6px dotted rgba(255, 85, 0,0.5);
  border-right: 6px double green;
  border-radius: 30px 0px 0px 10px;
}


.title {
  font-size: 30px;
  text-align: center;
  color: rgb(187, 56, 122);
  text-transform: uppercase;
  text-shadow: 1px 2px 1px rgb(105, 14, 189);
  margin-bottom: 20px;
  visibility: hidden;
  visibility: visible;
}


/*||||||||||||||||||||||*/

.practice__block-2 {
  margin-bottom: 50px;
}

.practice__media {
  width: 40%;
  margin: 0 auto;
}

.practice__media img {
  max-width: 100%;
  border-radius: 92% 8% 68% 32% / 41% 49% 51% 59% ;
  border: 2px solid rgb(127, 127, 234);
  box-shadow: 2px -3px 5px rgba(136, 9, 215, 0.7);
}
.practice__media:hover {
  opacity: 0.5;
}
.inline-el {
  /* outline: 10px solid rgb(216, 232, 91); */
  font-size: 20px;
  color: #fff;
  /* outline-offset: -8px; */
  /* border: 2px solid yellow; */
  display: none;
}


/*||||||||||||||||||||||*/

.practice__block-3 {
  font-size: 0;
  background-color: #fff;
  padding: 50px 0px;
}

.foletto__title {
  font-size: 30px;
  color: rgb(52, 216, 52);
  text-align: center;
  margin-bottom: 45px;
  font-style: italic;
}
.foletto__body {
  background-color: rgb(227, 241, 227);
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px;
}
.foletto__item {
  display: inline-block;
  padding: 20px;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 10px;
  line-height: 133.333333%; /* 24/18 */
  vertical-align: top;
  margin: 0px 12px 24px 12px;
  overflow: hidden;
  overflow: auto;
}
.item-1 {
  background-color: rgb(21, 64, 37);
  border-radius: 49% 51% 0% 100% / 43% 47% 53% 57%;
  margin-top: -34px;
}

.item-2 {
  background-color: rgb(7, 124, 54);
  border-radius: 52% 48% 45% 55% / 100% 52% 48% 0% ;
  margin-top: -24px;
}

.item-3 {
  background-color: rgb(11, 202, 46);
  border-radius: 100% 0% 45% 55% / 49% 60% 40% 51% ;
}

.item-4 {
  background-color: rgb(0, 139, 104);
  border-radius: 0% 100% 45% 55% / 54% 41% 59% 46% ;
}


.foletto__text {
  font-size: 18px;
  line-height: 166.666667%; /* 30/18 */
  color: rgb(25, 186, 132);
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 20px 20px 20px 0px;
  margin-bottom: 15px;
}
.foletto__logo {
  display: block;
  text-align: center;
  margin: -30px 0px 0px 0px;
}
.foletto__logo img {
  border-radius: 50%;
  border-top: 2px solid rgb(11, 224, 57);
  border-bottom: 2px solid rgb(32, 134, 30);
}

/* Практика  властивостей border, outline, border-radius, box-shadow, display:none, visibility:hidden, opacity */


/* Практика background */
.block-4 {
  background: url(../img/practice/colors.jpg) center/cover no-repeat;
  padding: 70px 0px;
  font: 0;
  text-align: center;
}

.block-4__text {
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 20px;
  padding: 30px;
  border: 2px solid rgb(220, 45, 45);
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hidden-el {
  text-transform: uppercase;
  font-family: fantasy;
  color: rgb(193, 56, 7);
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

.block-4__media {
  width: 90%;
  background: radial-gradient(circle, rgba(63,251,206,1) 0%, rgba(83,70,252,0.4) 79%);
  padding: 20px;
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  border: 10px double rgb(200, 230, 236);
  margin-bottom: 20px;
}
.block-4__picture {
  border-radius: 50%;
  display: inline-block;
  outline: 2px solid rgb(237, 70, 98);
  outline-offset: 10px;
  border: 2px solid rgb(96, 81, 237);
  /* box-shadow: inset 1px 4px 4px rgb(102, 96, 96); */
}

.picture-1 {
  width: 100px;
  min-height: 100px;
  background: url(../img/practice/pic-1.jpg) 7px 10px/contain repeat;
}

.picture-2 {
  width: 150px;
  height: 150px;
  background-image: url(../img/practice/pic-2.jpg);
  background-position: 50%;
  background-size: 40px;
  background-repeat: repeat-y;
}

.picture-3 {
  width: 100px;
  min-height: 100px;
  background: url(../img/practice/pic-3.jpg) right/ 40% repeat-x;
}

.picture-4 {
  width: 150px;
  height: 150px;
  background: url(../img/practice/pic-4.jpg) 50% / 50% no-repeat, linear-gradient(341deg, rgba(63,251,206,1) 20%, rgba(83,70,252,1) 87%) center/50px repeat-x;
}

.link-btn {
  display: inline-block;
  background: linear-gradient(341deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 85%, rgba(252,176,69,1) 100%) center / 100% no-repeat;
  min-height: 100px;
  padding: 30px 50px;
  border-radius: 30px;
  border: 2px solid;
  font-size: 30px;
  color: #cfe9e1;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px rgb(240, 22, 58);
  box-shadow: inset 2px 6px 4px rgba(26, 24, 24, 0.7);
  text-align: center;
}

.link-btn span {
    background: url(../icon/icon-btn.svg) 0 0 / 30px no-repeat;
    padding-left: 50px;
    display: inline-block;
    min-height: 30px;
    }
/* Практика background */
