@use "sass:math";

// Підключення шрифтів з Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

// Локальне підключення шрифтів
// @import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";
// Окремі сторінки

// **додавання затримки анімації до елементів за допомогою циклу**
// @for $i from 1 through 6 {
//   &:nth-child(#{$i}) {
//      $delay: ($i - 1) * 0.2;
//      animation-delay: #{$delay}s;
//   }
// }


// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1305;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================



body {
	font-family: "Exo", sans-serif;
  color: #fff;
  background-color: #000;
  &.lock {
    overflow: hidden;
  }
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ------------------------- */
[class*="__container"] {
	max-width: 1305px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
//!HEADER ============================================== 

.header {
  background: rgba(0, 0, 0, 0.80);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  @include adaptiveValue("padding-top", 60, 50, 0, 1305, 991.98);
  @include adaptiveValue("padding-bottom", 50, 17, 0, 1305, 991.98);
  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("column-gap", 40, 20, 0, 1305, 991.98);
    row-gap: 10px;
  }

  // .header__logo

  &__logo {
    img {
      @include adaptiveValue("width", 177, 94);
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  // .header__menu

  &__menu {
    @media(max-width:991.98px) {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: calc(100dvh - 100%);
      background-color: rgba(0, 0, 0, 0.80);
      overflow: auto;
      padding-inline: 20px;
      transition: right 0.3s;
    }
    &.active {
      right: 0;
    }
  }

  // .header__social-icons

  &__social-icons {
  }

  &__burger {
    display: none;
    @media(max-width:991.98px) {
      position: relative;
      z-index: 20;
      display: block;
      width: 30px;
      height: 21px;
      position: relative;
      flex-shrink: 0;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 8px;
        transition: all 0.3s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
        top: auto;
      }
      &.active::before {
        transform: rotate(-45deg);
        top: 9px;
      }
      &.active::after {
        transform: rotate(45deg);
        bottom: 9px;
      }
      &.active span {
        transform: scale(0);
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 8px;
        transition: all 0.3s;
      }
    }   
    @media(any-hover: hover) {
      &:hover::before,
      &:hover::after,
      &:hover span {
        background-color: #6F00A9;
      }
    }
  }
}
.menu {
  // .menu__body
  &__body {

  }
  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 60, 15, 0, 1305, 991.98);
    row-gap: 5px;
    @media(max-width:991.98px) {
      flex-direction: column;
      row-gap: 30px;
      padding: 60px 0px 30px 0px;
    }
  }

  // .menu__item

  &__item { 
  }

  // .menu__link

  &__link {
    font-family: "Orbitron", sans-serif;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    line-height: 125%; /* 20/16 */
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s;
    @include adaptiveValue("padding", 10, 5);
    @media(any-hover: hover) {
      &:hover {
        background-color: rgba(111, 0, 169, 1);
      }
    }
    @media(max-width:991.98px) {
      font-size: 22px;
      padding: 10px;
    }
  }
}
.social-icons {
  display: flex;
  @include adaptiveValue("column-gap", 20, 12, 0, 1305, 991.98);
  row-gap: 5px;
  align-items: center;
  // .social-icons__item

  &__item {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      transition: transform 0.3s;
      @media(any-hover : hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
  }
}
//!HEADER============================================== 


//?PREVIEW==========================================
.preview {
  background-color: #000;
  overflow: hidden;
  position: relative;
  @include adaptiveValue("padding-top", 150, 70);
  padding-bottom: 10px;
  // .preview__container


  @media(min-width:991.98px) {
    &::before,
    &::after {
      content: "";
      width: 480px;
      height: 480px;
      border-radius: 50%;
      opacity: 0.3;
      background: linear-gradient(90deg, rgba(151, 0, 255, 0.60) 0%, rgba(87, 255, 28, 0.60) 36.9%, rgba(255, 0, 0, 0.60) 67.4%, rgba(0, 56, 255, 0.60) 100%);
      filter: blur(50px);
      aspect-ratio: 1 / 1;
      position: absolute;
    }
    &::before {
      top: 0;
      left: 0;
      animation: move-1 20s linear 0s infinite;
    }
    &::after {
      bottom: 0;
      right: 0;
      animation: move-2 20s linear 0s infinite;
    }
  }
  &__container {
    display: flex;
    position: relative;
    @include adaptiveValue("column-gap", 40, 20)
  }

  // .preview__body

  &__body {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 20, 12, 0, 1300, 767.98);
    align-items: flex-start;
    @include adaptiveValue("padding-top", 120, 23, 0, 1300, 767.98);  
    @include adaptiveValue("padding-bottom", 150, 10, 0, 1300, 767.98); 
  }

  // .preview__media

  &__media {
    flex: 0 1 50%;
  }
}
.body-preview {

  // .body-preview__name

  &__name {
    @include adaptiveValue("font-size", 18, 14); 
    text-transform: uppercase;  
    letter-spacing: -0.36px;
    line-height: 111.111111%;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 10, 4);
    // overflow: hidden;
    &::after {
      content: "";
      background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
      height: 1px;
      width: 126.6%;
      flex-shrink: 0;
    }
  }

  // .body-preview__title

  &__title {
    @include adaptiveValue("font-size", 80, 32); 
    text-transform: uppercase;
    font-weight: 700;
    line-height: 87.5%; /* 70/80 */
    max-width: 584px;
  }

  // .body-preview__text

  &__text {
    @include adaptiveValue("letter-spacing", -0.36, -0.28); 
    text-transform: capitalize;
    @include adaptiveValue("font-size", 18, 14); 
    line-height: 222.222222%; /* 40/18 */
  }

  // .body-preview__btn

  &__btn {
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 100%; /* 20/20 */
    text-align: center;
    @include adaptiveValue("font-size", 20, 14); 
    @include adaptiveValue("padding-top", 15, 8); 
    @include adaptiveValue("padding-bottom", 15, 8); 
    @include adaptiveValue("padding-right", 60, 40); 
    @include adaptiveValue("padding-left", 60, 40); 
    background-color: #6F00A9;
    transition: background-color 0.3s;
    @media(any-hover: hover) {
      &:hover {
        background-color: #1B1655;
      }
    }
    &:active {
      background-color: #4f46ae;
    }
  }
}
.media {
  display: flex;
  align-content: end;
  justify-content: center;
  position: relative;

  // .media__man-image
  &__body {
  }
  &__man-image {
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    @include adaptiveValue("width", 376, 177); 
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 376 / 508;
      object-fit: contain;
    }
    
  }

  &__lightning{
    position: absolute;
    bottom: 0;
  }
  // .media__lightning--left

  &__lightning--left {
    right: 55%;
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .media__lightning--right

  &__lightning--right {
    left: 54%;
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
    // .media__element

    &__element {
      position: absolute;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 1 / 1;
      }
    }
  
    // .media__element--first
  
    &__element--first {
      top: 12%;
      left: -3%;
      width: 27.4%;
    }
  
    // .media__element--second
  
    &__element--second {
      top: 24.6%;
      right: 7px;
      width: 19.3%;
    }
}

@media(max-width:991.98px) {
  .media__man-image {
    display: none;
  }
  .media__lightning--right {
    display: none;
  }
  .media__lightning--left {
    right: -20px;
    bottom: 15%;
    width: 100%;
    min-width: 100px;
  }
  .media__element--first {
    width: 65%;
    left: -20%;
    min-width: 40px;
    transform: rotate(28deg);
  }
  .media__element--second {
    min-width: 30px;
    width: 40%;
    right: 20%;
  }
  .preview__body {
    flex: 1 1 80%;
  }
  .preview__media {
    flex: 1 1 20%;
  }
}
@media(max-width: 360px) {
  .preview__media {
    display: none;
  }
  .preview__body {
    flex: 1 1 100%;
  }
  .body-preview__btn {
    padding-block: 15px;
    align-self: stretch;
    }
}
//?PREVIEW==========================================


//!ABOUT==========================================
.about {
  @include adaptiveValue("padding-top", 120, 20, 0, 1300, 479.98); 
  @include adaptiveValue("padding-bottom", 160, 37, 0, 1300, 479.98); 
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.99) 85.54%), url(../img/portfolio/bg-about.jpg) center/cover no-repeat;
  // .about__container

  &__container {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 60, 40);
  }

  // .about__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    row-gap: 20px;
  }

  // .about__text-block

  &__text-block {
  }

  // .about__info

  &__info {
    // @include adaptiveValue("margin-bottom", 60, 20, 1300,0, 991.98); 
    @include adaptiveValue("font-size", 18, 14); 
    line-height: 222.222222%; /* 40/18 */
    @include adaptiveValue("letter-spacing", -0.36, -0.28); 
    text-transform: capitalize;
    text-align: center;
    max-width: 992px;
  }

}

.block-text {

  // .block-text__title

  &__title {
    @include adaptiveValue("font-size", 60, 24); 
    font-weight: 700;
    line-height: 116.666667%; /* 70/60 */
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue("gap", 20, 4); 
    &::after {
      content: "";
      width: 133.33%;
      height: 1px;
      background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
      flex-shrink: 0;
      @media(max-width:767.98px) {
        width: 117%;
      }
    }
  }
}

.about {

  // .about__marquee

  &__marquee {
  }
}
.marquee {
  display: flex;
  align-items: center;
  overflow: hidden;
  &:hover {
    .marquee__running-line {
      animation-play-state: paused;
    }
  }
  // .marquee__running-line

  &__running-line {
    display: flex;
    flex-shrink: 0;
    white-space: nowrap;
    animation: running-line 15s linear infinite;
  }
  @keyframes running-line {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  // .marquee__item

  &__item {
    flex-shrink: 0;
    padding-inline: 30px;
    @include adaptiveValue("padding-inline", 30, 10);
  }

  // .marquee__link

  &__link {
    color: #FFF;
    font-family: "Orbitron",sans-serif;
    @include adaptiveValue("font-size", 20, 14);
    font-weight: 500;
    line-height: 125%; /* 25/20 */
    text-transform: capitalize;
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 60, 20);
    &::after {
      content: "";
      @include adaptiveValue("width", 10, 4);
      @include adaptiveValue("height", 10, 4);
      flex-shrink: 0;
      background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
      border-radius: 50%;
    }
  }
}
.about__media {
  display: none;
}
.about__social {
  display: none;
}
@media(max-width:991.98px) {
  .about__media {
    display: block;
    position: relative;
    align-self: stretch;
    display: flex;
    justify-content: center;
    &::before,
    &::after {
      content: "";
      width: 120px;
      height: 120px;
      border-radius: 50%;
      opacity: 0.3;
      background: linear-gradient(90deg, rgba(151, 0, 255, 0.60) 0%, rgba(87, 255, 28, 0.60) 36.9%, rgba(255, 0, 0, 0.60) 67.4%, rgba(0, 56, 255, 0.60) 100%);
      opacity: 0.3;
      filter: blur(25px);
      aspect-ratio: 1 / 1;
      position: absolute;
    }
    &::before {
      top: 0;
      left: 0;
      animation: move-1 25s linear 0s infinite;
    }
    &::after {
      bottom: 0;
      right: 0;
      animation: move-2 25s linear 0s infinite;
    }
  }
  .about__image {
    @include adaptiveValue("width",376, 177);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      aspect-ratio: 376 / 508;
      position: relative;
      z-index: 3;
    }
  }
  .about {
    background: #000001;
  }
  .about__marquee {
    order: 1;
  }
  .about__body {
    order: 2;
  }
  .about__media {
    order: 1;
  }
  .about__text-block {
    order: 2;
  }
  .about__info {
    order: 3;
  }
  .about__social {
    display: block;
    order: 4;
  }
}
@keyframes move-1 {
  0% {
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
  }
  10% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  20%{
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
  }
  30% {
    top: 0;
    left: 100%;
    transform: translate(-100%, 0px);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  60% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  80%{
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes move-2 {
  0% {
    bottom: 0;
    right: 0;
    // transform: translate(50%, 50%);
  }
  10% {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
  }
  20%{
    bottom: 0;
    right: 0;
    transform: translate(0px, 0px);
  }
  30% {
    bottom: 0;
    right: 100%;
    transform: translate(100%, 0px);
  }
  50% {
    bottom: 100%;
    right: 100%;
    transform: translate(100%, 100%);
  }
  60% {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
  }
  70% {
    bottom: 100%;
    right: 100%;
    transform: translate(100%, 100%);
  }
  80%{
    bottom: 100%;
    right: 0;
    transform: translateY(100%);
  }
  100% {
    bottom: 0;
    right: 0;
  }
}
//!ABOUT==========================================


//*WORKS==============================================
.works {
  @include adaptiveValue("padding-top", 160, 37, 0, 1300, 479.98); 
  @include adaptiveValue("padding-bottom", 98, 40, 0, 1300, 479.98); 
  background: #000001;
  // .works__container

  &__container {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 120, 25, 0, 1300, 479.98); 
  }

  // .works__text-block

  &__text-block {
  }

  // .works__best-edits

  &__best-edits {
  }
}
.works .block-text {
  display: flex;
  align-items: flex-start;
  &__title {
    align-items: flex-start;
    &::after {
      @media(max-width:767.98px) {
        width: 112%;
      }
    }
  }
  // .block-text__title
}
.best-edits {

  // .best-edits__wrapper

  &__wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    @include adaptiveValue('column-gap', 40, 20)
  }

  // .best-edits__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue('row-gap', 40, 20); 
  }

  // .best-edits__media

  &__media {
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
    &::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      border: 10px solid transparent;
      transition: all 0.3s ease;
    }
    &::after {
      content: "play video";
      @extend .best-edits__label;
      position: absolute;
      top: 60%;
      left: 50%;
      transform:translate(-50%, -50%);
      width: 100%;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }
    @media(any-hover: hover) {
      &:hover::before {
        border-color: #6F00A9;
        opacity: 1;
        visibility: visible;
      }
      &:hover::after {
        top: 70%;
        opacity: 1;
        visibility: visible;
      }
      &:hover .best-edits__play-button {
        top: 45%;
      }
    }
  }

  &__image {
    @include adaptiveValue('width', 360, 193); 
    img {
      aspect-ratio: 1 / 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  // .best-edits__image

  // .best-edits__play-button

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include adaptiveValue('width', 120, 64); 
    z-index: 3;
    transition: all 0.3s;
    img {
      aspect-ratio: 1 / 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  // .best-edits__label

  &__label {
    color: #FFF;
    @include adaptiveValue('font-size', 40, 14); 
    font-weight: 700;
    text-transform: uppercase;
  }
}
//*WORKS==============================================
